<% include partials/header %>

    <div class="container animated fadeIn">
        <header class="jumbotron py-3">
            <div class="container">
                <!-- <h3>Welcome to MyPortfolio</h3> -->
                <% if(prodEnv) { %>
                    <h5>Welcome to My Portfolio</h5>
                    <p>Some of my projects below</p>
                <% } else { %>
                    <h5>This is DEMO</h5>
                    <p>Add a new user or use test/test. Fill free to edit/delete. By using site you accept this <a href="https://termsfeed.com/disclaimer/afd1741b9558c3a92d554f8499b62e31" target="_blank">disclaimer</a></p>
                <% } %>
                
            </div>
        </header>

        <div class="row">
            <!-- <div class="card-group"> -->
                <% projects.forEach(function(project) { %>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <a class="custom-card" href="/projects/<%= project._id %>">
                            <div class="card mb-4 border border-light animated">
                                <!--style="width: 18rem;" -->
                                <img class="card-img-top p-1 rounded animated" src="<%= project.image %>" alt="<%= project.title %>">
                                <% if (currentUser) { %>
                                <div class="card-img-overlay d-flex flex-row justify-content-end align-items-start">
                                    <div class="btn-group">
                                        <form class="" action="/projects/<%= project._id %>/edit" method="get">
                                            <button class="btn btn-warning px-2 btn-sm mr-2 btn-opacity"><i class="fas fa-pencil-alt fa-fw fa-sm"></i></button>
                                        </form>
                                    </div>
                                    <div class="btn-group">
                                        <form class="" action="/projects/<%= project._id %>?_method=DELETE" method="post">                
                                            <button class="btn btn-danger btn-sm px-2 btn-opacity"><i class="fas fa-trash-alt fa-fw fa-sm"></i></button>
                                        </form>        
                                    </div>  
                                </div>
                                <% } %>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= project.title %>
                                    </h5>
                                    <p class="card-text fade-out"><%= project.description.substring(0,55) %></p>
                                    <!-- <a href="#" class="btn btn-primary">Show</a> -->
                                </div>
                            </div>
                        </a>
                    </div>
                <% }); %>
            <!-- </div> -->
            <% if (currentUser) { %>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <a class="custom-card" href="/projects/new">
                        <div class="card mb-4 border border-success animated">
                            <!--style="width: 18rem;" -->
                            <img class="card-img-top p-1 rounded animated" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mOs/w8AAgMBgMd74YAAAAAASUVORK5CYII=" alt="Add New" id="add-new-image">
                            <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center">   
                                <i class="fas fa-plus-circle fa-10x" id="add-new-icon"></i> 
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    Add New
                                </h5>
                                <!-- <a href="#" class="btn btn-primary">Show</a> -->
                            </div>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>

    </div>
    <% include partials/footer %>