<% include partials/header %>

    <div class="container animated fadeIn">
        <header class="jumbotron py-3">
            <div class="container">
                <!-- <h3>Welcome to MyPortfolio</h3> -->
                <h3>Welcome to MyPortfolio DEMO</h3>
                <p>Some of my projects below</p>
                
            </div>
        </header>

        <div class="row">
            <!-- <div class="card-group"> -->
                <% projects.forEach(function(project) { %>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <a class="custom-card" href="/projects/<%= project._id %>">
                            <div class="card mb-4 border-light animated">
                                <!--style="width: 18rem;" -->
                                <img class="card-img-top p-1 border-bottom rounded animated" src="<%= project.image %>" alt="<%= project.title %>">
                                <% if (currentUser) { %>
                                <div class="card-img-overlay d-flex flex-row justify-content-end align-items-start">
                                    <div class="btn-group">
                                        <form class="" action="/projects/<%= project._id %>/edit" method="get">
                                            <button class="btn btn-warning px-2 btn-sm mr-2 btn-opacity"><i class="fas fa-pencil-alt fa-fw fa-sm"></i></button>
                                        </form>
                                    </div>
                                    <div class="btn-group">
                                        <form class="" action="/projects/<%= project._id %>?_method=DELETE" method="post">                
                                            <button class="btn btn-danger btn-sm px-2 btn-opacity"><i class="fas fa-trash-alt fa-fw fa-sm"></i></button>
                                        </form>        
                                    </div>  
                                </div>
                                <% } %>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= project.title %>
                                    </h5>
                                    <p class="card-text fade-out"><%= project.description.substring(0,55) %></p>
                                    <!-- <a href="#" class="btn btn-primary">Show</a> -->
                                </div>
                            </div>
                        </a>
                    </div>
                <% }); %>
            <!-- </div> -->
        </div>

    </div>
    <% include partials/footer %>